variables:
  _R_CHECK_CRAN_INCOMING_: "true"
  _R_CHECK_FORCE_SUGGESTS_: "true"
  APT_PKGS: "libcurl4-openssl-dev libssh2-1-dev libssl-dev libxml2-dev zlib1g-dev git" # libgsl0-dev"

image: rocker/tidyverse

stages:
  - test
  - build

before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends ${APT_PKGS}
  - apt-get install -y --no-install-recommends qpdf pandoc pandoc-citeproc
  - R -e 'install.packages(c("DiagrammeR", "DiagrammeRsvg"))'
  - R -e 'install.packages(c("data.tree", "rmarkdown", "knitr"))'
  - R -e 'install.packages(c("synthesisr", "googlesheets4", "stringdist"))'
  - R -e 'install.packages(c("remotes", "pkgdown"))'
  - R -e 'install.packages(c("openxlsx", "writexl", "XLConnect"))'
  - R -e 'remotes::install_gitlab("r-packages/preregr")'
  - R -e 'remotes::install_gitlab("r-packages/justifier")'
  - R -e 'remotes::install_gitlab("r-packages/ufs")'
  - R -e "install.packages(c('tinytex'), repos='http://cran.rstudio.com')"
  - R -e "tinytex::install_tinytex()"

devtools-check-dev:
  stage: test
  script:
    - R -e 'devtools::check()'
  only:
    - dev

devtools-check-topic-branches:
  stage: test
  script:
    - R -e 'devtools::check()'
  except:
    - dev
    - main

devtools-check-main:
  stage: test
  script:
    - R -e 'devtools::check()'
  only:
    - main

pages:
  stage: build
  script:
    - R -e 'devtools::document(); pkgdown::build_site();'
    - mkdir public/img
    - cp img/hex-logo.png public/img/hex-logo.png
  artifacts:
    paths:
      - public
  only:
    - main
