#image: r-base
#
#test:
#  script:
#    - R -e 'install.packages(c("dplyr", "purrr", "testthat", "data.tree", "knitr", "ufs"))'
#    - R CMD build . --no-build-vignettes --no-manual
#    - R CMD check *tar.gz --no-build-vignettes --no-manual --as-cran

metabefor-CI:
  stage: test
  image: rocker/tidyverse
  script:
    - R -e 'install.packages(c("data.tree", "rmarkdown", "knitr", "ufs", "DiagrammeRsvg"))'
    - R -e 'devtools::check()'
  tags:
    - docker
#    - r-packages

pages:
  stage: deploy
  image: alpine:latest
  script:
    - echo 'Nothing to do...'
  artifacts:
    paths:
    - docs
  only:
    - master

